* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    list-style-type: none;
}

body {
    overflow: hidden;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin-top: 2em;
    background-repeat: no-repeat;
}


